footer.footer
	.container
		.footer-wrap
			.col-1
				ul.footer__list
					li.footer__list-item
						a(href="#") Latest Posts
					li.footer__list-item
						a(href="#") Popular Posts
			.col-2
				ul.footer__list
					li.footer__list-item
						a(href="#") Search
					li.footer__list-item
						a(href="#") Contact Information
			.col-3
				ul.footer__list
					li.footer__list-item
						a(href="#") Privacy Policy
					li.footer__list-item
						a(href="#") Terms of Use
			.col-4
				.socials-icon
					a(href="#" class="socials-icon__link")
						img(src="./../../img/icons/social/instagram.svg" alt="instagram")
					a(href="#" class="socials-icon__link")
						img(src="./../../img/icons/social/twitter.svg" alt="twitter")
					a(href="#" class="socials-icon__link")
						img(src="./../../img/icons/social/facebook.svg" alt="facebook")
.copyright
	p.copyright__text © Copyright 2019. All rights reserved.
