- const logotitle = "Hipsum Blog";
header.header
	.header__row
		include ./socials-icon.pug
		.logo
			a(href="#" class="logo-__link") 
				h1.logo-title #{logotitle}
		.header__search
			.header__search-icon
				img(src="./../../img/icons/search.svg")
			.header__search-subs
				button.btn-subscribe Subscribe