.instagram
	.instagram__header
		h4 Instagram
	.instagram__img
		img(src="./../../img/instagram/insta-01.jpg")
		img(src="./../../img/instagram/insta-02.jpg")
		img(src="./../../img/instagram/insta-03.jpg")
		img(src="./../../img/instagram/insta-04.jpg")
		img(src="./../../img/instagram/insta-05.jpg")
		img(src="./../../img/instagram/insta-06.jpg")
		img(src="./../../img/instagram/insta-07.jpg")
		img(src="./../../img/instagram/insta-08.jpg")
		img(src="./../../img/instagram/insta-09.jpg")
		img(src="./../../img/instagram/insta-10.jpg")