.pagination
	ul.pagination__list
		li
			a.pagination-list__link.active(href="#") 1
		li
			a.pagination-list__link(href="#") 2
		li
			a.pagination-list__link(href="#") 3
	.pagination-older
		a.pagination-older__link(href="#") OLDER POSTS
