.populars
	.populars__header
		h4 Popular posts
	+small-post("./../../img/small-thumbs/01.jpg", "Austin DIY sriracha polaroid sartorial la croix", "december 26, 2019 — 5 comments")
	+small-post("./../../img/small-thumbs/02.jpg", "Austin DIY sriracha polaroid sartorial la croix", "december 26, 2019 — 5 comments")
	+small-post("./../../img/small-thumbs/03.jpg", "Austin DIY sriracha polaroid sartorial la croix", "december 26, 2019 — 5 comments")
	+small-post("./../../img/small-thumbs/04.jpg", "Austin DIY sriracha polaroid sartorial la croix", "december 26, 2019 — 5 comments")
	+small-post("./../../img/small-thumbs/05.jpg", "Austin DIY sriracha polaroid sartorial la croix", "december 26, 2019 — 5 comments")