.post-icon
	a(href="#" class="post-icon__link")
		img(src="./../../img/icons/social/whatsapp.svg" alt="whatsapp")
	a(href="#" class="post-icon__link")
		img(src="./../../img/icons/social/instagram.svg" alt="instagram")
	a(href="#" class="post-icon__link")
		img(src="./../../img/icons/social/twitter.svg" alt="twitter")
	a(href="#" class="post-icon__link")
		img(src="./../../img/icons/social/facebook.svg" alt="facebook")