.recent
	.recent__header
		h4 Recent posts
	include ./../mixins/small-post.pug
	+small-post("./../../img/small-thumbs/01.jpg", "Austin DIY sriracha polaroid sartorial la croix", "december 26, 2019 — 5 comments")
	+small-post("./../../img/small-thumbs/02.jpg", "Vinyl hexagon tbh selvage chambray street art", "december 26, 2019 — 5 comments")
	+small-post("./../../img/small-thumbs/03.jpg", "Edison bulb raw denim 3 wolf moon shaman mustache taxidermy. Cliche disrupt slow-carb chicharrones", "december 26, 2019 — 5 comments")
	+small-post("./../../img/small-thumbs/04.jpg", "Gastropub ennui keytar, plaid meggings marfa edison bulb pour-over austin enamel pin", "december 26, 2019 — 5 comments")
	+small-post("./../../img/small-thumbs/05.jpg", "inim ad austin tousled gluten-free", "december 26, 2019 — 5 comments")