.socials-icon
	a(href="#" class="socials-icon__link")
		img(src="./../../img/icons/social/instagram.svg" alt="instagram")
	a(href="#" class="socials-icon__link")
		img(src="./../../img/icons/social/twitter.svg" alt="twitter")
	a(href="#" class="socials-icon__link")
		img(src="./../../img/icons/social/facebook.svg" alt="facebook")