body {
	font-family: $montserrat;
	font-weight: 400;
}

.container {
	width: 1200px;
	padding: 0 15px;
	margin-left: auto;
  margin-right: auto;

}

.blog-row {
	display: flex;
	justify-content: space-between;
}

.none {
	display: none !important;
}