.btn-subscribe {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 10px 40px;
	height: 38px;
	background-color: $btn-color;
	border-radius: 50px;

	// user-select: none;
	cursor: pointer;

	font-family: $montserrat;
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
	color: #FFFFFF;

	&:hover {
		opacity: 0.9;
		transition: 0.3s ease-in;
	}
}