.btn-readmore {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 15px 30px;
	height: 38px;
	width: 137px;
	background-color: $btn-color;
	border-radius: 6px;

	user-select: none;
	cursor: pointer;

	text-decoration: none;
	font-weight: 500;
	font-size: 12px;
	color: #FFFFFF;

	&:hover {
		opacity: 0.9;
		transition: 0.3s ease-in;
	}
}